
.inner {
  max-width: 1024px;
  width: 100%;
  margin: 24px auto;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &__image {
    margin: 10px;
    width: 230px;
    height: 200px;
    object-fit: cover;
  }
}
